
.imag{
  width:300px;
  height:auto;
  float:left;
}

.icon{
  width:40px;
  height:40px;
  color: #5107baff; 
  
  /*#5107baff;*/
}
nav{
  font-size: 22px;
  
}

.colorLetraNavBar {
  color: #f29100ff !important; 
  font-family: 'Rubik', sans-serif;
}

.boton:hover {
  color:#5107baff !important;
}

.borderNav {
  border-bottom: 0.5px solid #5107baff; 
}