
.imag{
  width:300px;
  height:auto;
  float:left;
}

.marginCostados{
  margin-left: 30% auto;
  margin-right: 40% auto;
  margin-top: 0px;
}


.cardCrear{
  margin-left: 50% auto!important;
  margin-right: 10% auto!important;
  margin-top: 0px;
}
.inputCrear{
  margin-left: 190px;
  margin-right: 250px;
  margin-top: 0px;
  color:  #5107baff; 
  font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,p{
  font-family: 'Rubik', sans-serif;
}
.icon{
  width:40px;
  height:40px;
  color: #5107baff; 
  
  /*#5107baff;*/
}


.botonCrearCampaña{
  width:250px;
  height:50px;
  font-size: 15px;
  text-transform: none !important;
  border-radius:7px !important;
  color:#5107baff !important;
  border-color:#f29100ff !important;
  background-color: #f29100ff !important;
 

}
.botonCrearCampaña:hover {
 
  box-shadow:
       inset 0 -2em 1em #f29100ff,
             
             0.3em 0.2em 1em #5107baff;

  font-size: 16px;
}

nav{
  font-size: 22px;
  
}

.colorLetraNavBar {
  color: #f29100ff !important; 
  font-family: 'Rubik', sans-serif !important; 
}

.colorLetraNavBar:hover {
  color:#5107baff !important;
}

.borderNav {
  border-bottom: 0.5px solid #5107baff; 
}

.cardIni{
  width:500px;
  height:400px;
  border-radius:15px !important;
  background-color:  #f29100ff !important;
 
}

.labelForm{
  float: left !important;
  text-align: right !important;
  width: -50% !important;
  height: -50% !important;
}


.cardCrearCampaña{
  width:60%;
  height:45%;
  border-radius:15px !important;
  background-color:  #f29100ff !important;
 
}

.medidainput{
  width:400px;
  height:50px !important;
  border-radius:7px !important;
}

.medidainput2
{
  width:400px;
  height:35px !important;
  border-radius:7px !important;
}

.botonVioleta{
  width:200px;
  height:50px;
  font-size: 15px;
  text-transform: none !important;
  border-radius:7px !important;
  color:#ffff !important;
  border-color:#5107baff !important;
  background-color: #5107baff !important;
}
.botonVioleta:hover {
 
  box-shadow:
       inset 0 -3em 2em rgba(0,0,0,0.1),
             
             0.3em 0.3em 1em rgba(0,0,0,0.3);

  font-size: 16px;
}

.colorLetraIni {
  color: #5107baff !important;
  text-decoration: underline;
}
.colorLetraIni:hover {
  font-weight:600!important;
  color: #5107baff !important;
  text-decoration: underline;
}


.tituloCard{
  color:#ffff;
  font-weight:600;
  font-size: 35px;
}
